.textArea {
  width: 100%;
  height: 100%;
  border: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin: 4px;
  outline: none;
  overflow: auto;
  white-space: nowrap;
}
