.toolTip {
  position: absolute;
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-foreground-color);
  opacity: 0;
  top: -40px;
  padding: 4px 12px;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 3px 10px var(--box-shadow-color);
  transition: opacity 0.2s ease-in;
}

.hovered {
  opacity: 1;
}

.pressed {
  mix-blend-mode: difference;
}

.dockIcon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
}

.dot {
  width: 5px;
  height: 5px;
  border: 1px solid var(--dock-dot-border-color);
  border-radius: 50%;
  background-color: var(--dock-dot-color);
  margin-top: 5px;
}
