.toolTip {
  position: absolute;
  background-color: var(--tooltip-background-color);
  color: var(--tooltip-foreground-color);
  opacity: 0;
  top: -44px;
  padding: 4px 12px;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 0 3px 10px var(--box-shadow-color);
  transition: opacity 0.2s ease-in;
}

.themeToggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hovered {
  opacity: 1;
}

.pressed {
  mix-blend-mode: difference;
}
