.closeIcon {
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  cursor: pointer;
  transform: rotate(45deg);

  &:before {
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    top: 8px;
    left: 0px;
    border-radius: 1px;
    background-color: white;
  }

  &:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 18px;
    top: 0px;
    left: 8px;
    border-radius: 1px;
    background-color: white;
  }
}
