.minimizeIcon {
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  cursor: pointer;
  pointer-events: none;

  &:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 2px;
    top: 8px;
    left: 2px;
    border-radius: 1px;
    background-color: white;
  }
}
