$body-margin: 3px;
$min-width: 200px;
$titlebar-height: 30px;

.window {
  position: absolute;
  min-width: $min-width;
  min-height: calc(#{$titlebar-height} + 3 * #{$body-margin});
  background-color: rgba(0, 183, 185, 0.3);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 10px hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
}

.titleBar {
  display: flex;
  align-items: center;
  height: $titlebar-height;
  margin-top: 3px;
  padding: 0 8px;
  color: white;
  user-select: none;
}

.title {
  flex-grow: 1;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.body {
  position: absolute;
  width: calc(100% - 2 * #{$body-margin});
  background-color: white;
  height: calc(100% - #{$titlebar-height} - 3 * #{$body-margin});
  margin: $body-margin;
}

.topResizer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  cursor: n-resize;
  z-index: 1;
}

.rightResizer {
  position: absolute;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: e-resize;
  z-index: 1;
}

.bottomResizer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  cursor: s-resize;
  z-index: 1;
}

.leftResizer {
  position: absolute;
  left: 0;
  width: 5px;
  height: 100%;
  cursor: w-resize;
  z-index: 1;
}

.topLeftResizer {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  cursor: nw-resize;
  z-index: 2;
}

.topRightResizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  cursor: ne-resize;
  z-index: 2;
}

.bottomLeftResizer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 5px;
  cursor: sw-resize;
  z-index: 2;
}

.bottomRightResizer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5px;
  height: 5px;
  cursor: se-resize;
  z-index: 2;
}
