.maximizeIcon {
  position: relative;
  width: 22px;
  height: 22px;
  margin: 1px 0 0 12px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease;

  &:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 10px;
    top: 4px;
    left: 3px;
    border: 2px solid white;
    border-radius: 1px;
  }

  &:hover {
    background-color: hsla(3, 12%, 69%, 0.3);
  }
}
