.blueScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  background-color: var(--blue-screen-background-color);
  color: var(--blue-screen-foreground-color);
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  line-height: 24px;
  padding: 60px 20px;
}

.title {
  background-color: var(--blue-screen-foreground-color);
  color: var(--blue-screen-background-color);
  padding: 0 4px;
  font-weight: bold;
  align-self: center;
}
