$background-color: hsla(231, 94%, 36%, 1);
$text-color: white;

.blueScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  color: $text-color;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  line-height: 24px;
  padding: 60px 20px;
}

.title {
  background-color: $text-color;
  color: $background-color;
  padding: 0 4px;
  font-weight: bold;
  align-self: center;
}
