.minimizeIcon {
  position: relative;
  width: 22px;
  height: 22px;
  margin: 1px 0 0 12px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.75;
  transition: opacity 0.2s ease;

  &:before {
    position: absolute;
    content: "";
    width: 18px;
    height: 2px;
    top: 10px;
    left: 2px;
    background-color: white;
    border-radius: 1px;
  }

  &:hover {
    opacity: 1;
  }
}
